Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

In [10]:
data = {"A": [1, 5, 9, 15, 21],
       "B": ["a", "e", "i", "o", "u"],
       "C":[ "aA", "eE", "iI", "oO", "uU"]
       }

In [11]:
df = pd.DataFrame(data)

In [12]:
df

    A  B   C
0   1  a  aA
1   5  e  eE
2   9  i  iI
3  15  o  oO
4  21  u  uU

In [13]:
len(df)

5

In [8]:
new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)

In [9]:
new_index

RangeIndex(start=1, stop=10, step=2)

In [14]:
df_reindexed = df.reset_index(drop=True).set_index(new_index)

In [15]:
df_reindexed

    A  B   C
1   1  a  aA
3   5  e  eE
5   9  i  iI
7  15  o  oO
9  21  u  uU