You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [1]:
import pandas as pd

In [13]:
data = {'Values' : [1,2,3,5,7,11,13,17,19]}

In [14]:
df = pd.DataFrame(data)

In [15]:
df

   Values
0       1
1       2
2       3
3       5
4       7
5      11
6      13
7      17
8      19

In [17]:
df['Values'][0]

1

In [23]:
def F_3_sum(df):
    sum1 = 0
    for i in range(3):
        sum1 = sum1+df['Values'][i]
    return sum1

In [24]:
F_3_sum(df)

6