You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [1]:
import pandas as pd

In [2]:
data = {'Email' : ['shehanaz54@gmail.com', 'sscoder@gmail.com', 'shaikshe@gmail.com']}

In [3]:
df = pd.DataFrame(data)

In [4]:
Email = df['Email']

In [14]:
s = Email.str.split('@')

In [15]:
s

0    [shehanaz54, gmail.com]
1       [sscoder, gmail.com]
2      [shaikshe, gmail.com]
Name: Email, dtype: object

In [17]:
df['Username'] = s.str[0]

In [18]:
df.head()

                  Email    Username
0  shehanaz54@gmail.com  shehanaz54
1     sscoder@gmail.com     sscoder
2    shaikshe@gmail.com    shaikshe